

body,
html {
    height: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
}

.wrapper>div {
    width: 200px;
    height: 200px;
    
}

#greenBox {
    position: absolute;
    background-color: green;
   
}

#blackBox {
    position: absolute;
    background-color: black;
    right: 44%;
    /* transform: translate(-50%, -50%) */
}

#redBox {
    background-color: red;
    position: absolute;
}

.greenStay {
    top: 10px;
    transition-property: top;
    transition-duration: 2s;
}

.greenMove {
    top:  calc(100% - 200px);
    transition-property: top;
    transition-duration: 2s;
}

.blackStay {
    top: 10px;
    transition-property: top;
    transition-duration: 2s;
}

.blackMove {
    top:  calc(100% - 200px);
    transition-property: top;
    transition-duration: 2s;
}

.redStayUp {
    top: 10px;
    right:0px;
    transition-property: top right;
    transition-duration: 2s;
}
.redStayDown {
    top: calc(100% - 200px);
    right:1px;
    transition-property: top right;
    transition-duration: 2s;
}
.redStayLeft {
    top: calc(100% - 200px);
    right: calc(100% - 200px);
    transition-property: top right;
    transition-duration: 2s;
}
.redStayRight {
    top:  calc(100% - 200px);
    right:0px;
    transition-property: top right;
    transition-duration: 2s;
}